{
  "lat": 0,
  "long": 0,
  "schedule": [{
    "cleanup": {
      "disabled": false,
      "interval": "* */6 * * *"
    },
    "dropbox": {
      "disabled": false,
      "accessToken": "some token",
      "savePath": "/Timelapses/daily",
      "interval": "*/15 * * * *"
    },
    "photo": {
      "disabled": false,
      "group": "D",
      "interval": "* * * * *",
      "raspistillOpts": [
      ]
    }
  }]
}
